:root {
    /* background */
    --grey: #2f4f4f;
    /* font */
    --white: #ffffff;
    /* Graph Line color */
    --green: #7fff00;
}

body {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 1em;
    background-color: var(--grey);
    color: var(--white);
}

.sys-info {
    text-align: left;
    border: 1px solid var(--white);
    border-radius: 5px;
    /* padding: 1em; */
    /* min-width: 30vw; */
}

@media only screen and (min-width: 700px) {
    .sys-info {
        max-width: 25%;
    }
}


/* For Firefox */

progress::-moz-progress-bar {
    background: var(--green);
}


/* For Chrome or Safari */

progress::-webkit-progress-value {
    background: var(--green);
}