body {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1em;
    background-color: darkslategrey;
    color: white;
}

.sys-info {
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em;
    min-width: 30vw;
}

progress.flex {
    padding-bottom: 0;
}


/* For Firefox */

progress::-moz-progress-bar {
    background: chartreuse;
}


/* For Chrome or Safari */

progress::-webkit-progress-value {
    background: chartreuse;
}